body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
   background-image: url('https://cdn.dribbble.com/userupload/3365227/file/original-707fcd6896c82ee12c4a52272aad8ee9.png?resize=1920x1080');
  background-size: cover;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 45vw;
}

input[type="text"], input[type="password"], input[type="submit"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

input[type="text"], input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
  outline: none;
  border-radius: 5px;
}
input[type="submit"] {
  cursor: pointer;
  background-color: #007bff; 
  color: #fff;
  transition: background-color 0.3s;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #0056b3; 
}

input[type="submit"]:active {
  background-color: #004080; 
}
